<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Orders</title>
    <link rel="icon" th:href="@{/icons/head.png}" />
    <link rel="stylesheet" href="/css/adminhome.css">
    <th:block th:replace="~{includes/includes :: headers}"></th:block>
</head>
<body>
	<div th:replace="~{admin/navbar.html :: nonnavbar}"></div>
	<div id="margingap"></div>
	<div class="container">
	       <table class="table table-hover table-responsive" id="table_id">
			<thead class="table-dark">
				<tr>
					<th scope="col">Order ID</th>
					<th scope="col">Customer ID</th>
					<th scope="col">Date Time</th>
					<th scope="col">Product Code</th>
					<th scope="col">Cost</th>
					<th scope="col">Discount Amount</th>
					<th scope="col">Bill Amount</th>
					<th scope="col">Order Status</th>
					<th scope="col">Product</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${orders}">
					<td th:text="${order.orderId}"></td>
					<td th:text="${order.customer.customerId}"></td>
					<td th:text="${order.dateTime}"></td>
					<td th:text="${order.products.productCode}"></td>
					<td th:text="${order.cost}"></td>
					<td th:text="${order.discountAmount}"></td>
					<td th:text="${order.billAmount}"></td>
					<td th:text="${order.orderStatus}"></td>
					<td>
						<a th:href="@{/admin/adminproduct/{productCode}(productCode=${order.orderId})}" class="btn btn-success">
							View Product
						</a>
					</td>
				</tr>
			</tbody>
		</table>     
    </div>
    <script>
	  $(document).ready( function () {
	    $('#table_id').DataTable({order: []});
	    
	} );
	</script>
</body>
</html>