<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordered Product View</title>
    <link rel="icon" th:href="@{/icons/head.png}" />
    <th:block th:replace="~{includes/includes :: headers}"></th:block>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body style="background-color: azure;">
	<div th:replace="~{users/navbar.html :: nonnavbar}"></div>
	<div style="margin-top: 80px;"></div>
	<div class="container">
		<div class="card border-dark">
			<div class="card-body">
				<div class="row" style="justify-content: center; align-items: center;">
					<div class="col-md-4 col-12">
						<div class="card">
							<div class="card-body">
								<img th:src="${'/' + product.productImage}"
								 class="img-fluid" alt="Product Image" >
							</div>
						</div>
					</div>
					<div class="col-md-8 col-12">
						<hr style="height: 2px;" noshade class="bg-secondary">
						<h2 class="mt-3 mt-md-0" th:text="${product.productName}"></h2>
						<h4 class="text-muted" th:text="${product.category}"></h4>
						<p class="text-muted" th:text="${'Product Code: ' + product.productCode}"></p>
						<div th:replace="~{includes/stars.html :: star}"></div>
						<p class="text-dark" th:text="${product.description}" ></p>
						<h5 th:text="${'Flat ' + product.discount} + '% Discount' "></h5>
						<h4 th:if="${product.discount > 0}" class="mt-1">
							<s th:text="${'$' + product.cost}"></s>
							<b class="text-danger" th:text="${'$' + (product.cost - (product.cost * (product.discount / 100))) + ' only!!'}"></b>
						</h4>
						<div style="margin-top: 15px;" class="d-grid gap-2 d-md-flex justify-content-md-end">
						    <a th:href="@{/customer/cancelorder/{productCode} (productCode=${product.productCode})}" class='btn btn-danger'>Cancel Order</a>
						</div>
						<hr style="height: 2px;" noshade class="bg-secondary">
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="mt-md-5">
	<div th:replace="~{includes/footer.html :: footer}"></div>
</body>
</html>